<ion-header>
  <ion-toolbar>
    <ion-title> {{ song.songName }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<h3>Artista</h3>
<p> La canción {{ song.songName }} fue escrita por el autor {{song.artistName}}</p>

<h3>Album</h3>
<p>Esta canción pertenece al album {{song.songName }} </p>

<h3>Descripción</h3>
<p>{{ song.songName }}   </p>

<ion-button expand="block"  (click)="deleteSong()"> Eliminar Cancion </ion-button>
<ion-button [routerLink]="['/update/', song.id ]" > Actualizar</ion-button>


</ion-content>
