<ion-header>
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  padding>

  <form [formGroup]="registerForm" (ngSubmit)="register($event)" >
    <h4> Registrar Usuario</h4>
    <ion-item> 
    <ion-input formControlName="email" type="email" aria-placeholder="email" required></ion-input>
    </ion-item>
    <ion-chip color="danger" *ngIf="emailField.errors &&  emailField.dirty">
      <ion-label *ngIf="emailField.hasError('email')"> El email es invalido</ion-label>
      <ion-label *ngIf="emailField.hasError('required')"> El email es requerido</ion-label>
    </ion-chip>
    
    <ion-item> 
    <ion-input formControlName="password" type="password" aria-placeholder="contraseña" minlength="6"></ion-input>
    </ion-item>
    <ion-chip color="danger" *ngIf="passField.errors &&  passField.dirty">
      <ion-label *ngIf="passField.hasError('minlength')"> la contraseña necesita un numero minimo de 6 caracteres</ion-label>
      <ion-label *ngIf="emailField.hasError('required')"> La contraseña es requerida</ion-label>
    </ion-chip>
     
    <ion-button type="submit" expand="block">Registrarse</ion-button>
    <p>Ya estas registrado? <a routerLink="/login">Ingresa</a>  </p>
    </form>

</ion-content>
